@media only screen and (max-width:1700px){
    .form-body {
        width: 28%;
    }
}

@media only screen and (max-width:1440px){
    .form-body {
        width: 33%;
    }
}

@media only screen and (max-width:1227px){
    .form-body {
        width: 36%;
    }
}

@media only screen and (max-width:990px){
    .sidenav {
        width: 3.4rem !important;
    }
    .sidenav a {
        font-size: 10px;
    }
    .form-body {
        width: 55%;
    }
}